
body {
  background-color:pink;
}

title {
  color: black;
}
{
  font-family: "Times New Roman", Times, serif;
}
{
  font-size: 40px;
}
{
  font-weight: bold;
}
{
  text-align: center;
}
{
  font-style: italic;
}
{
  text-transform: uppercase;
}
h1 {
  color: black;
}
{
  font-family: "Times New Roman", Times, serif;
}
{
  font-size: 30px;
}
{
  font-weight: normal;
}
{
  text-align: center;
}

{
  font-style: italic;
}
{
  text-decoration: underline;
}
{
  text-transform: uppercase;
}


p {
  color: black;
}
{
  font-family: "Times New Roman", Times, serif;
}
{
  font-size: 20px;
}
  {
  font-weight: normal;
}
{
  text-align: left;
}
{
  text-decoration: none;
}
{
  text-transform: lowercase;
}



#slogan { 
  color: black;
}
{
  color: pink;
}
{
  font-family: "Times New Roman", Times, serif;
}
{
  font-size: 20px;
}
  {
  font-weight: thick;
}
{
  text-align: center;
}
{
  text-decoration: none;
}
{
  text-transform: lowercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}